<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT LOCATION</title>
</head>

<body>
    <h1>EDIT LOCATION</h1>
    <form action="/location/location-by-id/<%=loc.id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="<%=loc.title%>">
        </div>
        <div>
            <label for="title">Location</label>
            <input type="text" id="title" name="location" value="<%=loc.location%>">
        </div>
        <button>Add</button>

    </form>
    <a href="/location/delete-by-id/<%= loc.id %>">back</a>
</body>

</html>