<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit LOcation</title>
</head>

<body>
    <h3></h3>
    <form action="/location" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <label for="title">Location</label>
            <input type="text" id="title" name="location">
        </div>
        <button>Add</button>

    </form>
    <a href="/location">All location</a>
</body>

</html>